// font

$main-font: 'Roboto', sans-serif ;

// colors

$white-color: #fff;
$header-link-color:rgba(31, 46, 53, 0.8);
$red-color:rgba(238, 66, 72, 1);
$footer-title-color: #263238;
$title-color: #1f2e35;
$subtitle-color: #30444e;
$about-bg-color: rgba(246, 246, 246, 1);

// sizes

